[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
click = "*"
vcap = {ref = "master", git = "https://github.com/gospodin66/vcap.git"}

[dev-packages]

[requires]
python_version = "3.8"
